[submodule "pack/github/start/neocomplete.vim"]
	path = pack/github/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "pack/github/start/neosnippet.vim"]
	path = pack/github/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "pack/github/start/unite.vim"]
	path = pack/github/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "pack/github/start/neosnippet-snippets"]
	path = pack/github/start/neosnippet-snippets
	url = https://github.com/shouP/neosnippet-snippets.git
